:root {
    --background: #282A36;
    --foreground: #F8F8F2;
    --comment: #6272A4;
    --green: #50FA7B;
    --red: #FF5555;

    --raisin-black: #242135;
    --midnight-blue: #3F395D;
    --medium-slate-blue: #434e71;
    --very-dark-blue: #20222B;
}

body {
    min-height: 100vh;
    background-color: var(--background);
    background-image: linear-gradient(to bottom, var(--raisin-black), var(--midnight-blue));
    transition: background-image 5s ease-in-out;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    padding: 20px;
}

p {
    color: var(--red);
    font-size: 1.2em;
    text-align: center;
}

button {
    background-color: var(--very-dark-blue);
    color: var(--comment);
}

button:hover {
    color: var(--medium-slate-blue);
}

.reload-button {
    position: fixed;
    bottom: calc(1rem + 4px);
    right: calc(1rem + 4px);
    padding: 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.reload-button:hover {
    bottom: calc(1rem + 3px);
    right: calc(1rem + 3px);
}

.loading-text {
    position: relative;
    font-size: 3.0vh;
    color: var(--midnight-blue);
    -webkit-text-stroke: 0.1vw var(--medium-slate-blue);
}

.loading-text::before {
    content: attr(data-text);
    position: absolute;
    color: var(--green);
    -webkit-text-stroke: 0vw var(--medium-slate-blue);
    border-right: 2px solid var(--green);
    overflow: hidden;
    animation: loadText 4s linear infinite;
}

@keyframes loadText {

    0%,
    10%,
    100% {
        width: 0%;
    }

    70%,
    90% {
        width: 100%;
    }
}
